@media screen and (min-width: 769px) {
	body {background-color:#fafafa;}
	#wrap {width:640px; margin:0 auto; box-shadow:0 15px 15px rgba(0,0,0,.1);}
}

@media screen and (max-width: 768px) {
    #wrap {width:100%}
}

#main {
	width:100%; height:700px; 
	background:url('https://user-images.githubusercontent.com/79675829/110010287-07e2f900-7d16-11eb-844b-2d6b8f754c3f.jpg')center no-repeat; 
	background-attachment: fixed; background-size:cover; 
	color:#fff; font-family: 'MapoFlowerIsland'; text-align:center; font-size:30px;
}

#main_slogan {
	width:100%; padding:55px 0; text-align:center; background-color:#fff; overflow:hidden;
	color:#000;
}


#main_slogan h2 {font-size:26px; font-weight:normal; padding-bottom:12px; font-family: 'MapoFlowerIsland';}
#main_slogan h4 {opacity:0.4; font-size:11px; letter-spacing:3px; padding-bottom:20px; font-family: 'MapoFlowerIsland';}
#main_slogan p {font-size:16px; font-family: 'MapoFlowerIsland'; line-height:25px;}


#greeting {
	width:100%; overflow:hidden; padding:50px 0; 
	background:url('https://user-images.githubusercontent.com/79675829/109539441-3ca64480-7ab9-11eb-897a-3c2bfb06aab3.jpg')center no-repeat;
	background-attachment: fixed;
	background-size:cover;
	text-align:center;
}


#greeting .box {width:90%; padding:50px 0; margin:0 auto; background-color:rgba(36,42,29,.7); overflow:hidden; color:#fff;}
#greeting h4 {opacity:0.4; font-size:11px; letter-spacing:3px; padding-bottom:20px; font-family: 'MapoFlowerIsland';}
#greeting p {font-size:16px; font-family: 'MapoFlowerIsland'; line-height:25px;}

#profile {width:100%; overflow:hidden; padding:50px 0; background-color:#fff; text-align:center;}
#profile .img {width:250px;}
#profile .name {width:270px; margin-top:10px;}

#map_info {width:100%; overflow:hidden; padding:50px 0; background-color:#fff; text-align:center;}
#map_info h2 {font-size:26px; font-weight:normal; padding-bottom:12px; font-family: 'MapoFlowerIsland';}
#map_info h4 {opacity:0.4; font-size:11px; letter-spacing:3px; padding-bottom:20px; font-family: 'MapoFlowerIsland';}
#map_info p {font-size:16px; font-family: 'MapoFlowerIsland'; line-height:25px;}


#map_info ul {overflow:hidden; padding:35px 20px 0 20px;}
#map_info li {float:left; width:32%; margin-right:2%; text-align:center; }
#map_info li b {font-weight:normal; color:#000; line-height:22px; font-family: 'MapoFlowerIsland'; font-size:15px; display:block;}
#map_info li:nth-child(3) {margin-right:0;}
#map_info li img {width:60px; padding-bottom:15px;}

#map_detail {width:100%; padding:50px 25px 20px 25px; overflow:hidden; background-color:#fff;}
#map_detail h4 {font-size:20px; font-weight:normal; padding-bottom:15px; font-family: 'MapoFlowerIsland'; color:#000;}
#map_detail ul {width:100%; overflow:hidden; padding-bottom:25px;}
#map_detail li {width:100; overflow:hidden; padding-bottom:10px; font-size:14px; font-family: 'MapoFlowerIsland'; color:#555; line-height:20px;}
#map_detail li b {font-weight:bold; margin-right:5px; font-family: 'MapoFlowerIsland'; }

#share {
	width:100%; overflow:hidden; padding:50px 0; 
	background:url('https://user-images.githubusercontent.com/79675829/109539441-3ca64480-7ab9-11eb-897a-3c2bfb06aab3.jpg')center no-repeat;
	background-attachment: fixed;
	background-size:cover;
	text-align:center;
}
#share ul {width:280px; margin:0 auto;}
#share li {float:left; width:50%; text-align:center; }
#share li img {width:60px; padding-bottom:10px;}
#share li a {color:#fff; font-size:16px; line-height:22px; font-family: 'MapoFlowerIsland';}
#share li button {color:#fff; font-size:16px; line-height:22px; font-family: 'MapoFlowerIsland';}

.account {width:100%; padding:50px 25px; overflow:hidden; background:url('https://user-images.githubusercontent.com/79675829/111875783-78834a00-8993-11eb-9932-a9fa07cd727a.jpg')center no-repeat; background-size:cover; text-align:center;}
.account h4 {color:#000; font-family: 'MapoFlowerIsland'; font-size:23px;}
.account p {color:#000; font-size:15px; line-height:20px; font-family: 'MapoFlowerIsland'; padding:10px 0 40px 0;}
.account ul {width:100%; overflow:hidden;}
.account li {float:left; width:50%; text-align:center; color:#000; font-family: 'MapoFlowerIsland'; }
.account li h3 {font-family: 'MapoFlowerIsland'; font-weight:normal; padding-bottom:15px; font-size:20px;}
.account li span {font-family: 'MapoFlowerIsland'; line-height:22px; font-size:16px; }

html {
	overflow-y:scroll;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family:Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;
	margin:0;
	padding:0;
	border: 0;
	font-size:100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary {
	display:block;
}
audio, canvas, video {
    display:inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}
audio, canvas, img, video {
	vertical-align:middle;
}
body {
	line-height:1;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
	content:none;
}

table {
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
}
img, fieldset {
	border:0;
}
input, select, textarea {
	line-height:1.2;
	vertical-align:middle;
}
body, table, th, td, input, textarea, button, select {
	font-family:Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;
	font-size:13px;
	color:#333;
}
button, select {
	text-transform:none;
}
button, input {
	line-height:normal;
}
textarea {
	resize:vertical;
	overflow:auto;
}
address, caption, cite, code,
dfn, em, var {
	font-style:normal;
	font-weight:normal;
}
label {
	cursor:pointer;
}
/* For Screen Reader */
legend {
	display:none;
	visibility:hidden;
}
/* For Screen Reader */
caption {
	display:none;
	visibility:hidden;
}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}
a {
	color:#333;
	text-decoration:none;
}
a:active, a:hover, a:focus {
	text-decoration:none;
}
button{
	margin:0px;
	padding:0px;
	cursor:pointer;
	border:0px;
	background:none;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
