#main {
	width:100%; height:700px; 
	background:url('https://user-images.githubusercontent.com/79675829/109526016-04e3d080-7aaa-11eb-9015-f3375f04858a.jpg')center no-repeat; 
	background-attachment: fixed; background-size:cover; 
	color:#fff; font-family: 'MapoFlowerIsland'; text-align:center; font-size:30px;
}

#main_slogan {
	width:100%; padding:55px 0; text-align:center; background-color:#fff; overflow:hidden;
	color:#000;
}
#main_slogan h2 {font-size:26px; font-weight:normal; padding-bottom:12px; font-family: 'MapoFlowerIsland';}
#main_slogan h4 {opacity:0.4; font-size:11px; letter-spacing:3px; padding-bottom:20px; font-family: 'MapoFlowerIsland';}
#main_slogan p {font-size:16px; font-family: 'MapoFlowerIsland'; line-height:25px;}

#greeting {
	width:100%; overflow:hidden; padding:35px 0; 
	background-color:#000;
	background-attachment: fixed;
	text-align:center;
}
#greeting .box {width:95%; margin:0 auto; background-color:rgba(255,255,255,.7); overflow:hidden;}
#greeting h4 {padding-top:300px; opacity:0.4; font-size:11px; letter-spacing:3px; padding-bottom:20px; font-family: 'MapoFlowerIsland';}
#greeting p {font-size:16px; font-family: 'MapoFlowerIsland'; line-height:25px;}

html {
	overflow-y:scroll;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family:Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;
	margin:0;
	padding:0;
	border: 0;
	font-size:100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary {
	display:block;
}
audio, canvas, video {
    display:inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}
audio, canvas, img, video {
	vertical-align:middle;
}
body {
	line-height:1;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
	content:none;
}
table {
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
}
img, fieldset {
	border:0;
}
input, select, textarea {
	line-height:1.2;
	vertical-align:middle;
}
body, table, th, td, input, textarea, button, select {
	font-family:Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;
	font-size:13px;
	color:#333;
}
button, select {
	text-transform:none;
}
button, input {
	line-height:normal;
}
textarea {
	resize:vertical;
	overflow:auto;
}
address, caption, cite, code,
dfn, em, var {
	font-style:normal;
	font-weight:normal;
}
label {
	cursor:pointer;
}
/* For Screen Reader */
legend {
	display:none;
	visibility:hidden;
}
/* For Screen Reader */
caption {
	display:none;
	visibility:hidden;
}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}
a {
	color:#333;
	text-decoration:none;
}
a:active, a:hover, a:focus {
	text-decoration:none;
}
button{
	margin:0px;
	padding:0px;
	cursor:pointer;
	border:0px;
	background:none;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
